@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html { 
    scroll-behavior: smooth;  
      
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2 !important; 
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
   /*
 Keep working on gradient images here. This background setting will work through the whole site. Finally!
   background: url('../roseanfrankale.github.io/images/mesh-gradient-2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: 10; */
}




.navbar ul li a {
    font-size: 14px;
    color: #4c4c4c;}
    .navbar ul li a:hover {
        color:#B81A1D;
        transition: all .4s ease-in-out; 
        border-bottom: 2px solid #BB1a1D;
        margin-bottom: -10px;
        left: 0;
        right: 0;
        width: 100%;
        content: " "; }

  
        .nav-link{
            font-size: 14px;
            color: #4c4c4c;
          }
        
          .nav-link :hover {
            color:#B81A1D;
            transition: all .4s ease-in-out; 
        }
          
          
          
          .navbar-nav li.active::after{
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            content: " ";
            color: #B81A1D;
            border-bottom: 5px solid #BB1a1D;
          }
  
 


  /* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    float: right;
    padding-top: 25px;
  }
  

.main-logo {
float: left;
left: 100px;
top: 51px;
}




.main-logo img {
    width: 45px;
height: 55px;
}


.nav-items li {
    list-style: none;
    margin-right: 100px;
    float: right;
  }


  .nav-items li a {
    color: #4c4c4c;
    font-size: 16px;
    text-decoration: none;
    float: right;
  }


  .nav-items a span {
    color: #B81A1D;
    transition: all .5s ease-in-out;

}

.current a span:hover {
    color: #4c4c4c;
    text-decoration: underline #B81A1D;
    font-size: 18px;
    letter-spacing: 1px;
    transform-origin: center;
}

.nav-items ul li a,
.nav-items ul li a:after,
.nav-items ul li a:before {
    transition: all .5s ease-in-out;
}
.nav-items ul li a:hover {
    color: #B81A1D;
    text-decoration: underline #4c4c4c;
    text-underline-offset: .2em;
    font-size: 18px;
    letter-spacing: 1px;
    
}

nav.current ul li a{
  position: relative;
}

nav.current ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f2f2f2;
  height: 1px;
}
nav.current ul li a:hover:after {
  width: 100%;
} */

/* End Navigation */


/* Footer and Social Icons */

.footer-links a{
    color: #4c4c4c;
    font-size: 16px;
}


.footer-links a:hover {
    color:#B81A1D;
    transition: all .4s ease-in-out; }



  .social-icons a i {
	color: #4c4c4c;
  font-size: 16px; 
}
 
.social-icons a i:hover {
    color:#B81A1D;
    transition: all .4s ease-in-out; 
    font-size: 18px; 

  }


.list-unstyled {
    padding-left: 0;
    list-style: none; }
  
  .list-inline {
    padding-left: 0;
    list-style: none; }
  
  .list-inline-item {
    display: inline-block; }
    .list-inline-item:not(:last-child) {
      margin-right: 0.5rem; }
  



/* End Footer and Social Icons */


/*scroll to top*/



.btn-circle{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #f2f2f2;
  background-color: #B81A1D;
}

.btn-circle :hover {
 transform: scale(1.5);
 transition: all .4s ease-in-out;
 color: #f2f2f2;

}



/* Landing Page Content */


.hero-intro {
    position: relative;
    top: 25px;
    max-width: 1200px;
    margin: 0 auto;
    
  }


.greeting {
   /* width: 604px;
height: 153px;
left: 175px;
top: 210px;*/
    font-weight: 600;
font-size: 64px;
line-height: 78px;
color: #4C4C4C;
}




    h1 span {
        color: #B81A1D;
    }
    
    span-under {
        text-decoration: underline #B81A1D;
        text-decoration-thickness: 2px;
        text-underline-offset: .1em;
    }



    .title-1 {
        position: absolute;
        width: 195px;
        height: 35px;
        left: 242px;
        top: 373px;
font-size: 14px;
line-height: 17px;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: #4C4C4C;
    }
        

    
    .location-2 {
        position: absolute;
        width: 285px;
height: 35px;
left: 450px;
top: 373px;
        font-size: 14px;
line-height: 17px;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: #4C4C4C;
}

    .short-content {
        font-size: 18px;
        line-height: 24px;
       
        text-align: justify;
        color: #4C4C4C;

    }

    .flower-img {
        width: 443px;
        height: 413.92px;
        left: 775px;
        top: 250px;
        max-width: 100%;
        display: block;
    }
    




.small-flower-img {
    position: absolute;
    width: 85px;
    height: 70px;
    left: 1332px;
    top: 937px;
    float: right;
}


/* 

Begin Gradient Section (Use this in later project


This is for a section or container class="py-5 page-section back-gradient-1"

CSS
.back-gradient-1 {

/*
    background: rgb(117, 127, 154, 0.6);  /* fallback for old browsers */

    /*
    background: -webkit-linear-gradient(275deg, rgb(215, 221, 232, 0.6), rgb(117, 127, 154, 0.6), rgb(184, 26, 29, 0.6));  /* Chrome 10-25, Safari 5.1-6 */

/*
    background: linear-gradient(0deg, rgb(215, 221, 232, 0.6), rgb(117, 127, 154, 0.6), rgb(184, 26, 29, 0,6)); 
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    
    End Gradient Section --> */  
 




/* about me page */

.intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    top: 175px;
  }

.journey {  
font-weight: 600;
font-size: 40px;
color: #4C4C4C;
}

.background-title1 {  
font-weight: 600;
font-size: 36px;
color: #4C4C4C;
padding-top: 20% 50px;
padding-bottom: 20% 50px;

}

.background-content {
    font-size: 14px;
    color: #4C4C4C;
    text-align: justify;

}

/*.
.interests-title1{
    position: absolute;
    width: 404px;
height: 48px;
left: 175px;
top: 720px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}

.interests-content {
    position: relative;
    width: 950px;
    height: 180px;
    left: 245px;
    top: 822px;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #4C4C4C;
}
*/


.timeline-title {
    font-weight: 600;
font-size: 40px;
color: #4C4C4C;
}


.main-timeline {
    position: relative;
    bottom: 75px;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #f2f2f2;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
    
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #0c0e0e;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #B81A1D;
    left: 3px
}



.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background:  #1ab84f;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #0c0e0e;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #B81A1D;
    left: 6px
}


.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px;
    border: 2px solid #371ab8;

}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #4C4C4C;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0;
    color: #4C4C4C;

}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}



.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #B81A1D;
  }

  .main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #f2f2f2;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.timeline-heading .year{
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;

}

  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 75px;
    height: 75px;
    margin-left: 0;
    text-align: center;
    color:#232323;
    border: 2px solid #B81A1D;
    border-radius: 100%;
    background-color: #f2f2f2;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }

  .timeline > li .timeline-image  i{
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 60px;
        height: 60px;
        margin-left: -30px;
      }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }


 
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 60px;
      height: 60px;
      margin-left: -30px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }



/* PROJECTS page */


.projects-intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    top: 175px;
  }



.project-header {
    position: absolute;
width: 307px;
height: 99px;
left: 593px;
top: 205px;
font-weight: 600;
font-size: 64px;
line-height: 78px;
color: #4C4C4C;
}


.project-cta {
    position: absolute;
width: 675px;
height: 105px;
left: 500px;
top: 391px;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
color: #4C4C4C;
}


.project-title1 {
    position: absolute;
width: 555px;
height: 50px;
left: 200px;
top: 747px;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
color: #4C4C4C;

}

.project1-info {
    position: absolute;
width: 498px;
height: 171px;
left: 200px;
top: 832px;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #4C4C4C;
}


.project1-read-case {
    position: absolute;
width: 157px;
height: 34px;
left: 200px;
top: 1048px;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
}

.project-title2 {
    position: absolute;
    width: 555px;
    height: 50px;
    left: 800px;
    top: 1353px;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
color: #4C4C4C;

}

.project2-info {
    position: absolute;
    width: 498px;
    height: 213px;
    left: 800px;
    top: 1451px;    
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #4C4C4C;
}


.project2-read-case {
    position: absolute;
    width: 157px;
    height: 34px;
    left: 800px;
    top: 1705px;    
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
}





.project-title3 {
    position: absolute;
width: 555px;
height: 50px;
left: 200px;
top: 1959px;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
color: #4C4C4C;

}

.project3-info {
    position: absolute;
width: 498px;
height: 171px;
left: 200px;
top: 2044px;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #4C4C4C;
}


.project3-read-case {
    position: absolute;
width: 157px;
height: 34px;
left: 200px;
top: 2260px;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
}


.project-other {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 610px;
    top: 2561px;
    font-style: italic;
    font-weight: 400;
font-size: 38px;
line-height: 44px;
}


/* BEGIN PORTFOLIO */

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #b81a1d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background:rgb(184, 26, 29);
  transition: 0.3s;
  width: 100%;
  opacity: .5;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgb(184, 26, 29);
  transform: scale(1.5);

}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}



.portfolio-details {
padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
margin-top: 20px;
position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #fff;
opacity: 1;
border: 1px solid #b81a1d;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
background-color: #b81a1d;
}

.portfolio-details .portfolio-info {
padding: 30px;
box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
font-size: 22px;
font-weight: 700;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
list-style: none;
padding: 0;
font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
margin-top: 10px;
}

.portfolio-details .portfolio-description {
padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
font-size: 26px;
font-weight: 700;
margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
padding: 0;
}

.swiper-container{
  margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1
}
.swiper-container-vertical>.swiper-wrapper{
  flex-direction:column
}

.swiper-wrapper {
  position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box
}


  

  
