@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Monstserrat", sans-serif;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
}

a {
  color: #4c4c4c;
  text-decoration: none;
}

a:hover {
  color: #b81a1d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 span {
  color: #b81a1d;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

#btn-back-to-top {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  line-height: 40px;
  right: 10px;
  color: #ffffff;
  background-color: rgb(184, 26, 29, 0.7);
  display: none;
}

#btn-back-to-top:hover {
  background-color: #b81a1d;
  transition: all 0.4s ease-in-out;
}

#btn-back-to-top.active {
  right: 20px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: url("../images//rjfa_name_logo.svg") no-repeat center center fixed;
 -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  .content_hidden {
  visibility: hidden;
}

@keyframes animate-preloader {


.content_hidden {
  visibility: hidden;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #4c4c4c;
}

#header h2 span {
  color: #4c4c4c;
  border-bottom: 2px solid #b81a1d;
}

#header img {
  padding: 0;
  margin: 10px 0 0 10px;
  display: none;
  visibility: hidden;
  width: 45px;
  height: 45px;
}

#header .social-icons {
  margin-top: 40px;
  display: flex;
}

#header .social-icons a {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  line-height: 1;
  margin-right: 8px;
  border: 1px solid #4c4c4c;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#header .social-icons a:hover {
  border: 1px solid #b81a1d;
  color: #b81a1d;
  transition: border ease-in-out 0.3s;
  background: #f2f2f2;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
}

#header.header-top .social-icons,
#header.header-top h1,
#header.header-top h2,
#header.header-top p {
  display: none;
}

#header.header-top img {
  display: block;
  visibility: visible;
  margin-right: auto;
}

#header.header-top .container {
  padding: 0 100px 0 100px;
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

span-under {
  text-decoration: underline #b81a1d;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
  padding: 0;
  margin-top: 35px;
  box-shadow: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 1px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #b81a1d;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #b81a1d;
}

.navbar .btn {
  background: rgb(76, 76, 76, 0.9);
  color: #f2f2f2;
  letter-spacing: 3px;
  font-weight: 500;
}

.navbar .btn:hover {
  background-color: rgb(76, 76, 76, 0.7);
  transition: all 0.4s ease-in-out;
  font-weight: 600;
}

/**
* Mobile Navigation 
*/
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgb(185, 37, 37);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #f2f2f2;
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid #b81a1d;
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li + li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

.navbar-mobile .btn {
  background: rgb(76, 76, 76, 0.9);
  color: #f2f2f2;
  letter-spacing: 2px;
  font-weight: 400;
  position: fixed;
}

/*
  .chevron_bounce {
    color: #f2f2f2;
    background-color: #b81a1d;
    overflow: visible;
    position: relative;
    font-size: 1.5rem;
    line-height: 61.1px;
    width: 60px;
    height: 60px;
  }
  
  .chevron_bounce:hover i {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
    color: #f2f2f2;
  }
  
  .chevron_bounce.active {
    visibility: visible;
  opacity: 1;
  }

  .chevron_bounce:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity 0.3s, transform 0.3s;
    animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }
  @keyframes pulse-animation {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale(1.25);
    }
    100% {
      opacity: 0;
      transform: scale(1.25);
    }
  }
*/

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: -1;
  background: rgb(242, 242, 242, 0.9);
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #b81a1d;
  margin: 4px 10px;
}

section .card-body {
  background: #ffffff;
  padding: 0;
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.journey {
  font-weight: 600;
  font-size: 2rem;
  color: #4c4c4c;
}

.background-title1 {
  font-weight: 600;
  font-size: 2.25rem;
  color: #4c4c4c;
  letter-spacing: 1px;
  padding-top: 20% 50px;
  padding-bottom: 20% 50px;
}

.background-content {
  font-size: 1rem;
  color: #4c4c4c;
  text-align: left;
}

.square-text {
  font-size: 1rem;
  color: #4c4c4c;
  display: grid;
  text-align: left;
}

/*--------------------------------------------------------------
  # Card Content
  --------------------------------------------------------------*/

.project_card_title {
  font-size: 2.25rem;
  font-weight: 600;
  padding: 0 0 50px 0;
  line-height: 45px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.project_card_heading {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.card {
  background: rgb(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .project_card_title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 3px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  transition: ease-in-out 0.3s;
}
.skills .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.skills .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #4c4c4c;
}
.skills .icon-box:hover {
  background: rgba(255, 255, 255, 0.14);
}

.skills .icon-box img {
  width: 38px;
  height: 32px;
  padding-right: 10px;
  line-height: 1;
}

/*--------------------------------------------------------------
# Resume or Timeline
--------------------------------------------------------------*/

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #b81a1d;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #f2f2f2;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.timeline-body .background-content {
  font-size: 0.875rem;
  color: #4c4c4c;
  text-align: left;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 75px;
  height: 75px;
  margin-left: 0;
  text-align: center;
  color: #232323;
  border: 2px solid #b81a1d;
  border-radius: 100%;
  background-color: #f2f2f2;
}

.timeline > li .timeline-image h4,
.timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li .timeline-image i {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
  font-size: 0.875rem;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

.timeline .social-icons a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  line-height: 1;
  margin-right: 8px;
  border: 1px solid #4c4c4c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.timeline .social-icons a:hover {
  border: 1px solid #b81a1d;
  color: #b81a1d;
  transition: border ease-in-out 0.3s;
  background: #f2f2f2;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }

  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline > li .timeline-image {
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 0.813rem;
    line-height: 18px;
    margin-top: 16px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }

  .timeline-heading .title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
  }

  .timeline-heading .subheading {
    font-size: 1rem;
    font-weight: 600;
  }

  .timeline-heading .year {
    font-size: 0.85rem;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline > li .timeline-image {
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 2rem;
    line-height: 26px;
    margin-top: 30px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline-heading .title {
    font-size: 1.75rem;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline > li .timeline-image {
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

@media (max-width: 767px) {
  .timeline-heading .title {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .timeline-heading .subheading {
    font-size: 1rem;
    font-weight: 600;
  }

  .timeline-heading .year {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .timeline-body .background-content {
    font-size: 0.875rem;
  }

  .timeline > li .timeline-image {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact .btn {
  background: rgb(242, 242, 242, 0.7);
  font-size: 1.75rem;
  border: 3px solid #4c4c4c;
  overflow: visible;
  position: relative;

  color: #4c4c4c;
  letter-spacing: 3px;
  font-weight: 500;
}

#contact .btn:hover {
  background-color: rgb(76, 76, 76, 0.9);
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  color: #f2f2f2;
  letter-spacing: 3px;
  border: 3px solid #f2f2f2;
}

#contact .btn:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity 0.3s, transform 0.3s;
  animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(1.25);
  }

  100% {
    opacity: 0;
    transform: scale(1.25);
  }
}


/* ------------------------------------------------------------------- 
 * ## bricks/masonry
 * ------------------------------------------------------------------- */
.masonry-wrap {
  margin-top: 7.2rem;
  position: relative;
}

.masonry-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.masonry:after {
  content: "";
  display: table;
  clear: both;
}

.masonry .grid-sizer,
.masonry__brick {
  width: 50%;
}

.masonry__brick {
  float: left;
  padding: 0;
}

.item-folio {
  position: relative;
  overflow: hidden;
}

.item-folio__thumb img {
  vertical-align: bottom;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-folio__thumb a {
  display: block;
}

.item-folio__thumb a::before {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.item-folio__thumb a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00e";
  font-size: 2.7rem;
  font-weight: 900;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  z-index: 1;
}

.item-folio__text {
  position: absolute;
  left: 0;
  bottom: 3.6rem;
  padding: 0 3.3rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-folio__title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.286;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 0 0.3rem 0;
}

.item-folio__cat {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.714;
  margin-bottom: 0;
}

.item-folio__caption {
  display: none;
}

.item-folio__project-link {
  display: block;
  color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  text-align: center;
  z-index: 500;
  position: absolute;
  top: 3rem;
  left: 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.item-folio__project-link i {
  font-size: 1.8rem;
  line-height: 4.2rem;
}

.item-folio__project-link::before {
  display: block;
  content: "";
  height: 3rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -3rem;
  left: 50%;
}

.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
  background-color: #ffffff;
  color: #000000;
}

/* on hover 
 * ----------------------------------------------- */
.item-folio:hover .item-folio__thumb a::before {
  opacity: 1;
  visibility: visible;
}

.item-folio:hover .item-folio__thumb a::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.item-folio:hover .item-folio__thumb img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.item-folio:hover .item-folio__project-link,
.item-folio:hover .item-folio__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1000px) {
  .s-works {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}

@media only screen and (max-width: 800px) {
  .item-folio__title,
  .item-folio__cat {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .s-works {
    padding-top: 12rem;
  }

  .masonry-wrap {
    padding: 0 35px;
  }

  .masonry__brick {
    float: none;
    width: 100%;
  }

  .item-folio__title,
  .item-folio__cat {
    font-size: 1.4rem;
  }
  img.responsive {
    height: auto;
    width: auto;
  }
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}
.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}
.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}

#footer .social-icons {
  margin-top: 40px;
}

#footer .social-icons a {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  line-height: 1;
  margin-right: 8px;
  border: 1px solid #4c4c4c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#footer .social-icons a:hover {
  border: 1px solid #b81a1d;
  color: #b81a1d;
  transition: border ease-in-out 0.3s;
  background: #f2f2f2;
}

/*--------------------------------------------------------------
# Project Cards - Modal Styling
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b81a1d;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #b81a1d;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #b81a1d;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  font-size: 15px;
}

  

  
